# Logs
logs/
*.log

# Runtime data
/package-lock.json

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.dev
.env.test

# Gatsby files
.cache/

#Tests
test/